extends layout

block content
  h1=title
  p by #{name}
  table
    tr 
      th Firstname
      th Lastname
      th email
      th age
    each student in students
      tr
        td
          a(href=student._id)=student.firstname
        td=student.lastname
        td=student.email
        td=student.age
  br
  a(href='/new') New 

